[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
Pillow = "*"
PyJWT = "*"
Flask = "*"
Flask-SocketIO = "*"
Flask-SQLAlchemy = "*"
python-socketio = "*"
requests = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
pylint = "*"
doit = "*"
sphinx = "*"
babel = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3.10"
