pygame
Pillow
python-socketio
requests
flake8
pydocstyle
pylint
doit
Sphinx
Babel
build
setuptools
PyJWT
Flask
Flask-SocketIO
Flask-SQLAlchemy
tomli
pyinstaller
gunicorn
gevent
websocket-client
gevent-websocket
